[Unit]
Description=Rguard LED Service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/rguard
User=pi
ExecStart=/usr/bin/python3 /home/pi/rguard/src/led/state_led.py

[Install]
WantedBy=multi-user.target
